/* Base */
* { box-sizing: border-box; }
html, body { margin: 0; padding: 0; }

body {
  font-family: Georgia, serif;
  background-color: #eae0c7;        /* off-white */
  color: #2c263f;                   /* offblack text */
  line-height: 1.6;
}

/* === grid === */
.container {
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header header"
    "aside  main"
    "footer footer";
  min-height: 100vh;
  border: 4px solid #984619;        /* terracotta frame here*/
}

/* === HEAd === */
header {
  grid-area: header;
  background: #eae0c7;
  border-bottom: 3px solid #984619;
  text-align: center;
  padding: 1.5rem 1rem;
}
header h1 {
  margin: 0;
  font-family: 'Comic Neue', cursive;
  font-size: 2.5rem;
  color: #984619;
}
header p {
  margin: 0;
  font-weight: bold;
  color: #2c263f;
  font-style: italic;
}

/* to fix */
aside {
  grid-area: aside;
  border-right: 3px solid #984619;
  padding: 1.5rem;
}
aside h2 {
  margin-top: 0;
  color: #984619;
  font-size: 1.3rem;
  border-bottom: 2px solid #984619;
  padding-bottom: 0.5rem;
}
aside ul {
  list-style: none;
  padding: 0;
  margin: 1rem 0 0 0;
}
aside a {
  text-decoration: none;
  color: #2c263f;
}
aside a:hover {
  color: #984619;
  text-decoration: underline;
}

/*     MAIN      */
main {
  grid-area: main;
  padding: 1.5rem;
}
.projects {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: center; 
}
.project {
  flex: 1 1 260px;          
  max-width: 320px;
  background: #fff8f3;
  border: 2px solid #984619;
  border-radius: 10px;
  padding: 1rem;
  display: flex;            
  flex-direction: column;   
  gap: 0.75rem;             
}
.project img {
  width: 100%;
  aspect-ratio: 16 / 9;     
  object-fit: cover;        
  border: 1px solid #984619;
  border-radius: 6px;
  display: block;           
}
.project figcaption {
  margin-top: 0.5rem;
  font-size: 1rem;
  color: #2c263f;
 	 text-align: center;
}

/*     Foot     */
footer {
  grid-area: footer;
  background: #eae0c7;
  border-top: 3px solid #984619;
  	text-align: center;
  padding: 1rem;
  font-weight: bold;
  color: #2c263f;
}

/* === MOBILE (Bons) === */
@media (max-width: 640px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-areas:
      "header"
      "aside"
      "main"
      "footer";
  }

  aside {
    border-right: none;
    border-bottom: 3px solid #984619;
  }
  .projects {
    flex-direction: column;
    align-items: center;
  }
}